<form action="<%= url %>" method="post">
  <%= csrf_tag %>

  <p>
    <label>Username
      <input type="text" name="user[username]" value="<%= user.username %>">
    </label>
  </p>

  <p>
    <label>Password
      <input type="password" name="user[password]">
    </label>
  </p>

  <input type='submit' value='<%= button_msg %>' >
</form>
