
<div class="row jumbotron">
  <div class="col-xs-4 col-xs-offset-4">
    <h1>TimeDine</h1>
  </div>
  <div class="col-xs-6">
    <h2>TimeDine figures out when you should eat to avoid jetlag</h2>
    <a href="#" role="button" class="btn btn-primary btn-lg">Learn More</a>
  </div>
  <div class="col-xs-6">
    <h2>Feel better, sooner</h2>
    <h2>Get more out of your trip</h2>
    <h2>Impress your friends with Jedi-like mastery of time zones</h2>
  </div>
</div>

<div class="row">
  <div class="text-center col-xs-4 col-xs-offset-4">
    <h1>Meet The Team</h1>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-4">
    <img src="assets/twins.jpg" alt="cats" class="img-circle img-responsive center-block" />
    <h2>Al and Steve</h2>
    <p>
      Weird Cat twins
    </p>
  </div>
  <div class="col-md-4">
    <img src="assets/Garrett.jpg" alt="Garrett" class="img-circle img-responsive center-block" />
    <h2>Garrett Simpson</h2>
    <p>
      Writes the code
    </p>
  </div>
  <div class="col-md-4">
    <img src="assets/soul_cat.jpg" alt="soul_cat" class="img-circle img-responsive center-block" />
    <h2>Ramona</h2>
    <p>
      Steals your soul
    </p>
  </div>
</div>
