<%= flash[:errors].join('<br>') if flash[:errors] %>

<p>
Session count is: <%= session["count"] %>
</p>

<%= link_to "Google", "http://www.google.com" %>

<%= button_to "Patch", "/cats/1", method: "patch" %>
