<h1> Band: <%= @band.name %> </h1>

<h2>Albums:</h2>

<ul>
  <%= render @albums %>
</ul>

<h3> <%= link_to "Create Album", new_band_album_url(@band) %> </h3>
<h3> <%= link_to "Back to Bands", bands_url %> </h3>
