<div class="row">
  <div class="col-xs-4" "col-xs-offset-1">
    <h1>Sign Up</h1>
    <%= render(
      "layouts/username_password_form",
      url: users_url,
      button_msg: "Sign Up",
      user: @user
    ) %>
  </div>
  <div class="col-xs-1 col-xs-push-6">
    <%= button_to "Sign In",
      new_session_url,
      method: :get, class: "btn btn-primary" %>
  </div>
</div>
